@import '~bootstrap/scss/bootstrap';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100vw;
  height: 183px;
  background-color: #11992e;
  opacity: 0.7;
  backface-visibility: visible;
  position: fixed;
  z-index: 100;
  transition: height 0.3s;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  width: 100%;
  gap: 20px;
  margin: 0 20px;
  color: #fff;
  transition: width 0.3s, height 0.3s;
}

.nav-item {
  position: relative;
}

.underline-link {
  position: relative;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.underline-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
}

.underline-link:hover:before {
  left: 0;
  width: 100%;
}

/* Styles for the dropdown content */
.dropdown-content {
  /* ... (existing styles) */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add a box shadow for a nice effect */
  padding: 10px;
  margin-top: 10px;
}

.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-item {
  margin: 0;
  padding: 5px 0;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-link {
  text-decoration: none;
  color: #11992e;
  /* Green color for the links */
  font-weight: bold;
}

/* Add hover styles for the links in the dropdown */
.dropdown-item:hover {
  background-color: #ccc;
  /* Gray background when hovering */
  .dropdown-link {
    color: #fff;
  }
  /* White text color when hovering */
}

/* Add the green bar on the left side of the submenu */
.dropdown-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 5px;
  height: 100%;
  background-color: #11992e;
}

/* Styles for the Search icon */
.nav-link:last-child {
  position: relative;
}

.nav-link:last-child .anticon {
  position: absolute;
  right: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3c3d3d;
  backface-visibility: visible;
  width: 100%;
  color:#fff;
  gap: 20px;
  .footer__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .footer__text,
  .footer__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__button {
  background-color: #11992e;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    .icons__item {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      .icons__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #3c3d3d;
        font-size: 30px;
        text-decoration: none;
        transition: all 0.3s;
        .icons__img {
          width: 150px;
          height: 150px;
        }
        .icons__txt {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
}

.info__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .info__title {
    font-size: 30px;
    font-weight: 700;
    color: #3c3d3d;
    text-align: center;
  }

  .table {
    width: 50vw;

    .info__thead,
    .info__tbody {
      text-align: center;
    }
  }

  ul {
    list-style: none;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      strong {
        font-size: 20px;
        font-weight: 700;
        color: #1a1a1a;
      }
    }
  }
}


