@import '~bootstrap/scss/bootstrap';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100vw;
  height: 183px;
  background-color: #11992e;
  opacity: 0.7;
  backface-visibility: visible;
  position: fixed;
  z-index: 100;
  transition: height 0.3s;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  gap: 20px;
  color: #fff;
  transition: width 0.3s, height 0.3s;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #3c3d3d;
  backface-visibility: visible;
  bottom: 0;
  width: 100%;
  color:#fff;
  gap: 20px;
  .footer__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .footer__text,
  .footer__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}

:where(.css-dev-only-do-not-override-1jr9qlj).ant-form-item .ant-form-item-label > label {
  color: #fff;
}

.form__button {
  background-color: #11992e;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .info__article{
    .info__title {
      font-size: 30px;
      font-weight: 700;
      color: #cf1616;
      text-align: center;
    }
    .table {
      width: 50vw;
      .info__thead,
      .info__tbody {
        text-align: center;
      }
    }
    ul {
      list-style: none;
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        strong {
          font-size: 20px;
          font-weight: 700;
          color: #1a1a1a;
        }
      }
    }
  }
}

