@import '~bootstrap/scss/bootstrap';
@font-face {
  font-family: 'Borel';
  src: url(./assets/fonts/Borel/Borel-Regular.ttf);
  font-family: 'Lato';
  src: url(./assets/fonts/Lato/Lato-Regular.ttf);
}

* {
  font-family: 'Lato', sans-serif;
}


.header {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 0 20px;
  width: 100vw;
  height: 80px;
  background-color: #11992e;
  opacity: 0.3;
  backface-visibility: visible;
  position: fixed;
  z-index: 100;
  transition: height 0.3s;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  width: 100%;
  gap: 20px;
  margin: 0 20px;
  color: #fff;
  transition: width 0.3s, height 0.3s;
}

.nav-item {
  position: relative;
  font-size: 18px;
}

.underline-link {
  position: relative;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.underline-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
}

.underline-link:hover:before {
  left: 0;
  width: 100%;
}

.underline-link-item {
  position: relative;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.underline-link-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
}

.underline-link-item:hover:before {
  left: 0;
  width: 100%;
}

/* Styles for the dropdown content */
.dropdown-content {
  /* ... (existing styles) */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add a box shadow for a nice effect */
  padding: 10px;
  margin-top: 20px;
  &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: 10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
    }
}

.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-item {
  margin: 0;
  padding: 5px 0;
  transition: background-color 0.3s, color 0.3s;
  font-size: 18px;
}

.dropdown-item:hover {
  background-color: #96eba9;
  color: #11992e;
}

.dropdown-link {
  text-decoration: none;
  color: #11992e;
  /* Green color for the links */
  font-weight: bold;
}

/* Add the green bar on the left side of the submenu */
.dropdown-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 5px;
  height: 100%;
  background-color: #11992e;
}

/* Styles for the Search icon */
.nav-link:last-child {
  position: relative;
}

.nav-link:last-child .anticon {
  position: absolute;
  right: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3c3d3d;
  backface-visibility: visible;
  width: 100%;
  color:#fff;
  gap: 20px;
  .footer__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .footer__text,
  .footer__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__button {
  background-color: #11992e;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  .icons {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    .icons__item {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      .icons__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #3c3d3d;
        font-size: 30px;
        text-decoration: none;
        transition: all 0.3s;
        .icons__img {
          width: 150px;
          height: 150px;
        }
        .icons__txt {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
}

.info__img {
  width: 100vw;
  height: 500px;
  object-fit: cover;
}

.info__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .info__title {
    font-size: 30px;
    font-weight: 700;
    color: #3c3d3d;
    text-align: center;
  }

  .table {
    width: 50vw;

    .info__thead,
    .info__tbody {
      text-align: center;
    }
  }

  ul {
    list-style: none;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      strong {
        font-size: 20px;
        font-weight: 700;
        color: #1a1a1a;
      }
    }
  }
}

.horarios {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  height: 500px;
  position: relative;
  &::before {
      /* This pseudo-element will act as an overlay for the background image */
      content: "";
      background-image: url(./assets/images/horarios.jpg);
      background-size: cover;
      opacity: 0.7;
      /* Set the desired opacity for the background image */
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  .horarios__container {
    height: 300px;
    width: 300px;
    background-color: #11992e;
    .horarios__title {
      background-color: #fff;
      text-align: center;
      padding: 10px 20px 20px 20px;
      .horarios-title {
        font-size: 18px;
        color: #11992e;
        font-weight: 700;
      }
    }
    .horarios__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: #fff;
      background-color: #11992e;
      padding: 40px 20px;
    }
  }
}

.noticias {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  gap: 20px;
  margin: 50px 0;
  .noticias__title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #11992e;
    padding: 10px 400px 10px 20px;
  }
  .noticias__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;

    .item_1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      height: 200px;
      gap: 20px;
      margin: 20px;
      position: relative;
      &::before {
        /* This pseudo-element will act as an overlay for the background image */
          content: "";
          background-image: url(./assets/images/homilia.jpg);
          background-size: cover;
          opacity: 0.7;
          border-radius: 20px;
          /* Set the desired opacity for the background image */
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
      }
    }
  .item_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 200px;
    gap: 20px;
    margin: 20px;
    position: relative;
    &::before {
      /* This pseudo-element will act as an overlay for the background image */
      content: "";
      background-image: url(./assets/images/lecturas.jpg);
      background-size: cover;
      opacity: 0.7;
      border-radius: 20px;
      /* Set the desired opacity for the background image */
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
    .item_3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      height: 200px;
      gap: 20px;
      margin: 20px;
      position: relative;
      &::before {
        /* This pseudo-element will act as an overlay for the background image */
        content: "";
        background-image: url(./assets/images/actividades.jpg);
        background-size: cover;
        background-position: center;
        opacity: 0.7;
        border-radius: 20px;
        /* Set the desired opacity for the background image */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }
    }
  }
}

.noticias__link {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 10px;
  .noticias__txt {
    font-family: 'Borel', serif;
    &::shadow {
      text-shadow: 2px 2px 2px #000;
    }
  }
}

.recomendados__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  .recomendados__item {
    text-decoration: none;
    background-color: aqua;
    border-radius: 100%;
    padding: 30px;
    transition: transform 0.3s ease;
    &:hover {
      background-color: #11992e;
      transform: scale(0.8);
    }
    .recomendados__img {
      width: 80px;
      height: 80px;
    }
  }
}

.accordion {
  margin: 20px 0;
}

.body {
  display:grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  .book {
    width: 200px;
    height: 325px;
  }
}

/*-------Historia-------*/

.title {
  padding: 100px 0 0 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.paragraph {
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  margin: 30px;
}

/*---Imagen San Judas Tadeo---*/

.imagensanjudastadeo {
  padding: 100px 0 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  .sanjudastadeo {
    justify-self: center;
  }
  .simbolos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 60px 0 0;
    text-align: justify;
    h2 {
      text-align: center;
    }
  }
}

/*----Bautismo----*/

.bautismo {
  padding: 100px 0 30px 0;
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h1 {
      text-align: center;
    }
  }
  .texto {
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    margin: 30px;
  }
  .cita{
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin: 30px;
    padding-left: 100px;
  }
}
